body {
    background-color: #33536e;
    font-family     : "Ubuntu", sans-serif;
    color           : #fff;
    text-align      : center;
    width: 100%;
    font-size: 28px;
}

h1 {
    font-size: 6.7vw;
    color    : #ed6a5a;
}

a {
    font-weight: 300;
    color      : #ed6a5a;
}

.warning-content {
    position: absolute;
    top     : 10%;
    width   : 100%;
    height  : auto;
    margin  : 0;
}

.logo img {
    height: 250px;
}

@media only screen and (max-width: 869px) {
    .logo img{
        width: 100%;
        height: auto;
    }
}